{{ define "Board" }}
<style>
  .boardContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black;
    color: red;
  }
</style>

<div class="boardContainer">
  {{ range .board }} {{ range . }}
  <div
    id="{{.File}}{{.Rank}}"
    class="bg-{{if .Color}}black{{else}}white{{end}}"
  >
  {{if .Piece}}
    {{.Piece.PieceType}}{{.Piece.Color}}
    {{end}}
    </br>
{{.File}}{{.Rank}}
  </div>
  {{end}} {{ end }}
</div>

{{ end }}
