{{ define "Board" }}
<style>
  #boardContainer {
    height: fit-content;
    width: fit-content;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black;
    color: red;
  }
</style>
<div hx-ext="ws" ws-connect="/ws/board">
  <div id="boardContainer" hx-swap-oob="true">
    {{if .board }}
    {{ range .board }} {{ range . }} {{template "Square" dict "data" .}} {{end}}
    {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}