{{ define "Board" }}
<style>
  .board {
    height: 500px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid black;
    color: red;
  }
</style>
<div id="boardContainer" hx-swap="innerHTML" hx-swap-oob="true" class="flex items-center justify-center">
  {{ if .board }}
  <div hx-ext="ws" ws-connect="/ws/board" class="board">
    {{if .board }}
    {{ range .board }} {{ range . }} {{template "Square" dict "data" .}} {{end}}
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}