{{ define "LegalMoves" }}
<script hx-swap-oob="true">
    legalMoves = {{ .legalMoves }};

    highlightMoves = (file, rank) => {
        Array.from(document.getElementsByClassName('legalMove')).forEach(el => el.remove())
        possibleLegalMoves = legalMoves[`${file}${rank}`] || [];
        possibleLegalMoves.forEach(move => {
            const square = document.getElementById(move);
            if (!square) return
            const highlightDiv = document.createElement('div');
            highlightDiv.classList.add('legalMove');
            if (square.childElementCount > 0) {
                highlightDiv.classList.add('legalMove_attacking');
                square.appendChild(highlightDiv);
            } else {
                highlightDiv.classList.add('legalMove_nonAttacking');
                square.appendChild(highlightDiv);
            }
        });
    }
</script>
{{ end }}