{{ define "Square" }}
<div
  id="{{.data.File}}{{.data.Rank}}"
  class="bg-{{if .data.Color}}yellow-700{{else}}yellow-50{{end}} flex items-center grid-justify-center relative"
  data-file="{{.data.File}}"
  data-rank="{{.data.Rank}}"
>
  {{if .data.Piece}}
  <img
    class="piece piece_{{.data.Piece.PieceType}}{{.data.Piece.Color}} h-full cursor-grab"
    onclick="onPieceClick(event)"
    hx-include="img"
  />
  {{end}} {{if .highlight}}
  <div
    class="legalMove {{if .data.Piece}} legalMove_attacking {{else}} legalMove_nonAttacking {{end}}"
  ></div>
  {{end}}
</div>

{{end}}
